@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Cormorant+Garamond:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

/* navbar styling */
.navbar{
    position: absolute;
    width: 100%;
    font-family: 'Ubuntu', sans-serif;
    padding: 30px 0;
}

.navbar.sticky{
    background:#CC374F; 
    padding: 15px 0;
}

.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a{
    font-size: 45px;
    font-weight: 700;
    color: #fff;
    font-family: 'Caveat', sans-serif;
}

.navbar .menu li{
    list-style: none;
    display: inline-block;
}

.navbar .menu li a{
    color: #fff;
    font-size: 25px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.5s ease;
}

.navbar .menu li a:hover{
    color: #CC374F;
}

.navbar .logo a span{
    color: #CC374F;
}

.navbar.sticky .logo a span{
    color: #fff;
    transition: color 0.3s ease;
}

/* home styling */
.home{
    display:flex;
    background-color: rgb(30, 29, 29);
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    min-height: 500px;
    font-family: 'Ubuntu', sans-serif;
}

.home .max-width{
    margin: auto 0 auto 40px;
}


.home .home-content .text-1{
    font-size: 40px;
}

.home .home-content .text-2{
  font-size: 30px;
  font-weight: 400;
  margin-left: -3px;
}

.home .home-content .text-3{
    font-size: 25px;
    margin: 5px 0;
    display: flex;
    width: 650px;;
}

.home .home-content a{
    display: inline-block;
    background: #CC374F;
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid #CC374F;
    transition: all 0.3s ease;
}

.home .home-content a:hover{
    color: #CC374F;
    background: none;
}

/* about styling */

section{
    padding: 100px 0;

}
.about{
    font-family: 'Cormorant', sans-serif;
    background-color:rgb(30, 29, 29);
}

.about .title{
    position: relative;
    font-family: "ubuntu",sans-serif;
    text-align: right;
    color: #CC374F;
    font-size: 48px;
    margin-bottom: 35px;
    padding-bottom: 20px;
}

.about .about-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about .about-content .left{
    width: 45%;
}

.about .about-content .left img{
    height: 400px;
    width: 300px;
    object-fit: cover;
}

.about .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    right: -1%;
    width: 240px;
    height: 4px;
    background-color: #CC374F;
}

.about .about-content .right{
    width: 55%;
}

.about .about-content .right .text{
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
}